/* ====================================================================================================				
	Mobile Browser Specific CSS
==================================================================================================== */


/* ====================================================================================================                                                                
                
	Table of Content
	1. General
	2. Basic Typography - Copy to adminmobile.css
	3. Header and Navigation
	4. Content
	5. Footer
	6. Buttons
	7. Clear Fix
	8. Vin65 Overrides
	
*/

/*   ===================================================================================================                                                                
     1. General
======================================================================================================== */
 
body { 
 	background: #fff;
	font-size: 14px; 
	line-height: 21px; 
	margin: 0; 
	padding: 0; 
	-webkit-text-size-adjust: none; 
	}

img{ 
	max-width:100% !important; 
	height:auto !important; 
	} /* Fixes images causing scrolling on mobile, overrides client inline styles */


/*   ===================================================================================================                                                                
     2. Basic Typography - Copy to adminmobile.css
======================================================================================================== */

body,p,ul,ol,dl,blockquote { 
	color: #666; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	}

input,textarea,button { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	}

h1,h2,h3,h4,h5,h6 { 
	color: #333; 
	font-weight: normal; 
	}

h1 { 
	font-size: 30px; 
	line-height: 40px; 
	margin: 0 0 10px 0;
	}

h2 { 
	font-size: 24px; 
	margin: 0 0 10px 0; 
	}

h3 {
	font-size: 18px; 
	margin: 0 0 10px 0; 
	}
 
/* Links */

a{ 
	color: #333; 
	text-decoration: none; 
	}
	
a:hover { 
	color: #000; 
	}


/* Horizontal Rule */

hr { 
	background: #ccc; 
	border: none; 
	clear: both;
	color: #ccc; 
	float: none; 
	height: .1em; 
	margin: 20px 0 20px 0; 
	width: 100%; 
	}
 
/* Rounded Corners */

.rounded-1px { 
	border-radius:1px; 
	}
	
.rounded-2px { 
	border-radius:2px; 
	}
	
.rounded-3px { 
	border-radius:3px; 
	}
	
.rounded-4px { 
	border-radius:4px; 
	}
	
.rounded-5px { 
	border-radius:5px; 
	}
	

/*   ===================================================================================================                                                                
     3. Header and Navigation
======================================================================================================== */
 
.header { 
	position:relative;
	text-align: center; 
	width:100%; 
	}
	
	.header a:hover{
		text-decoration:none; 
		}
		
	.user_tools{
		background:#000;
		border-bottom:1px solid #6a6a6a;
		width:100%;
		}
		
		.user_tools a{
			display:block;
			color:#fff;
			}
		
		.v65m-loginLink, #v65m-cart, .contact_button{
			float:left;
			height:45px;
			line-height:45px;
			width:33%;
			}
			
		.v65m-loginLink, #v65m-cart{
			border-right:1px solid #595959;
			}
			
		#v65m-cart, .contact_button{
			border-left:1px solid #6a6a6a;
			}
			
		.v65m-loginLink span{
			background:url(/assets/images/user.png) no-repeat left center;
			display:inline-block;
			padding-left:30px;
			}
			
		 #v65m-cart span{
			 background:url(/assets/images/cart.png) no-repeat left center;
			 display:inline-block;
			 line-height:14px;
			 padding-left:33px;
			 vertical-align:middle;
		 	}
			
		.contact_button{
			background:#000;
			}
			
			.contact_button span {
				background:#000 url(/assets/images/call.png) no-repeat left center;
				color:#fff;
				display:inline-block;
				padding-left:30px;
				}
			
	.logo{
		background: #790102;
		display: block;
		line-height: 0;
		width:100%; 
		}

.nav { 
	background:#790102;
	border-top: 1px solid #fff;
	color:#fff;
	margin: 0; 
	padding: 0;
	text-align: center; 
 	}
	
	.nav ul { 
		margin: 0; 
		padding: 0; 
		display: inline; 
		}
		
	.nav ul li {
		display:inline-block;
		font-size: 14px; 
		height: 36px; 
		line-height: 36px; 
		list-style-type: none; 
		}

	.nav ul li a { 
		display: inline-block; 
		padding:0 11px;
		color: #fff; 
		}

	.nav ul li a.v65m-selected { 
		color: #fff; 
		font-weight:bold;
		}

.footer .sub_nav { 
	background-color:#790102;
	margin: 0; 
	padding: 0; 
	text-align: center;
	}
	
	.footer .sub_nav ul { 
		margin: 0; 
		padding: 0; 
		}
		
	.footer .sub_nav ul li { 
		font-size: 14px; 
		list-style-type: none; 
		}
		
	.footer .sub_nav ul li a {
		color:#fff;
		text-decoration:none;
		}
		
	.footer .sub_nav ul li a.v65m-selected { 
		color: #fff; 
		font-weight:bold;
		}	
 
/*   ===================================================================================================                                                                
     4. Content
======================================================================================================== */
 
.content { 
	background: #fff; 
	color: #111; 
	width: 100%; 
	}
	
	.content_text { 
		padding: 20px 15px 30px 15px; 
		}
	
		.content_text .contact-info { 
			background: #eee; 
			border: 1px solid #b4b4b4; 
			float: right; 
			margin: 0 0 15px 15px; 
			padding: 5px; 
			width: 130px; 			
			}
		
		.content_text .contact-info .hours { 
			font-family: Georgia, serif; 
			font-size: 12px; 
			line-height: 18px; margin: 0; 
			text-align: center; 
			}
	
	.call-button { 
		width: 100%; 
		}
	
/*   ===================================================================================================                                                                
     5. Footer
======================================================================================================== */

.footer { 
	background: #790102;
	color: #fff; 
	padding: 0 0 15px;
	text-align: center; 
	width: 100%; 
	}

	.footer ul {
		margin: 0; 
		padding: 0; 
		}
		
		.footer ul li {
			border-top:1px solid #fff;
			display:block;
			list-style-type: none; 
			}
			
			.footer ul li a { 
				color: #fff;
				display:block;
				height:45px;
				line-height:45px;
				text-decoration:none;
				}
		
	.footer ul li a.v65-selected { 
		color: #fff; 
		}

	.footer p { 
		color: #ccc; 
		}
	
		.footer .legal { 
			color: #fff; 
			font-size: 12px; 
			}
			
		.footer .author, .footer .author a { 
			color: #ccc; 
			font-size: 12px; 
			}
			
	.footer a { 
		color: #333; 
		text-decoration: none; 
		}
		
	.footer a:hover { 
		color: #fff; 
		}
	
/*   ===================================================================================================                                                                
     6. Buttons
======================================================================================================== */
	
/* OPTIONAL BUTTON STYLES regular button: */		
button.defaultBtn { 
	background: transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px; 
	}
	
	button.defaultBtn span { 
	background: transparent url(../images/buttons/btn_sprite.gif) no-repeat left top; 
	}
	
/* OPTIONAL BUTTON STYLES alt button: */		
button.altBtn { 
	background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px; 
	}
	
	button.altBtn span { 
		background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top; 
		}
	
/* OPTIONAL BUTTON STYLES modal button: */		
button.modalBtn { 
	background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px; 
	}
	
	button.modalBtn span { 
		background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top; 
		}
	
/* OPTIONAL BUTTON STYLES modal alt button: */		
button.altModalBtn { 
	background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px; 
	}
	
	button.altModalBtn span { 
		background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top; 
		}
	
/* OPTIONAL BUTTON STYLES large button: */		
button.largeBtn { 
	background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px; 
	}
	
	button.largeBtn span { 
		background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top; 
		}

/* REQUIRED LINK BUTTON STYLES: */

/* Link Button Normal */
a.linkBtn { 
	background: transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px; 
	}
	
	a.linkBtn span { 
		background: transparent url(../images/buttons/btn_sprite.gif) no-repeat left top; 
		}

/* Link ALT Button Normal */
a.linkAltBtn {  
	background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px; 
	}
	
	a.linkAltBtn span { 
		background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top;  
		}
	
/* Modal Link Button Normal */
a.modalLinkBtn { 
	background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px; 
	}
	
	a.modalLinkBtn span { 
		background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top; 
		}
	
/* Modal Link ALT Button Normal */
a.modalLinkAltBtn { 
	background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px; 
	}
	a.modalLinkAltBtn span { 
		background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top; 
		}
	
/* Link Button Large */
a.largeLinkBtn { 
	background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px; 
	}
	
	a.largeLinkBtn span { 
		background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top; 
		}

/*   ===================================================================================================                                                                
     8. Vin65 Overrides
======================================================================================================== */

#v65m-toolBar{
	}
	
.v65-group:before,.v65-group:after{content:"";display:table}.v65-group:after{clear:both}.v65-group{zoom:1}